Body {
  background: url(https://i.imgur.com/tc2Qsxk.png); 
  background-size: 100%; 
  background-size: cover;
  height: 100vh;
  
  /* no-repeat center center fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  */
}
 

   /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
  
 


/* https://i.imgur.com/wMHCKwj.png?1 */
  /* background-size: 100%;  */
  /* background-size: cover; */
/* width: 100%;

  /* text-align: center; */








/* background-image: url(https://i.imgur.com/Lcqdza7.png);
background-repeat: no-repeat;
background-position: center; */